/* #region Global  */

/*sizes*/
:root {
    /* responsivo */
    --txt-title1: 1.7rem;
    --txt-subtitle1: 1.2rem;
    --txt-paragraph1: 1rem;
    --txt-anchor1: .9rem;
    --txt-icon1: 1.5rem;
    --txt-superhero1: 2.5rem;
}


html {
    color: var(--clr-white);
    scroll-behavior: smooth;
    background: var(--clr-black);
}

/* Rule for title */

h2 {
    color: var(--clr-subtitle);
    font-size: var(--txt-subtitle);
    text-align: center;
}

p {
    color: var(--clr-white);
    /* font-size: var(--txt-paragraph1); */
}

h1>span,
h2>span,
h4>span {
    color: var(--clr-accent);
    text-align: center;
}


i {
    color: var(--clr-subtitle);
}

/* #endregion */


/* #region media nav - banner*/

@media screen and (min-width: 1200px) {
    .banner {
        height: auto;

        .bannerTopo {
            & li {

                margin: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        height: auto;

        .bannerTopo {
            & li {

                margin: none;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .banner {
        height: auto;

        .bannerTopo {
            margin-top: 4em;

            & li {
                h1 {
                    margin: 0 5em;
                }

                p {
                    /* font-size: var(--txt-paragraph); */
                    margin: 0 10em;
                }
            }


            .siteBanner {
                width: 42%;
            }

            .btnDefault {
                font-size: 1.1rem;
                padding: 0.7rem 1.8rem;
            }
        }
    }
}

@media (min-width: 769px) {
    #menuContainer {
        display: none;

        & img {
            width: 250px;
        }
    }


    .banner {
        padding: 20px;

        .bannerTopo {
            & li {
                .siteBanner {
                    width: 70vh;
                }

                p {
                    transition: all 0.3s;
                    font-size: var(--txt-paragraph1);
                }

                h1 {
                    /* font-size: var(--txt-title) !important; */
                    margin: auto;
                    transition: all 0.3s;
                    font-size: var(--txt-title1);
                    /* margin: 0; */
                    /* padding: .8em; */
                    /* margin: 0 10em; */
                }
            }
        }
    }



}


@media screen and (max-width: 768px) {
    #preloader {
        display: none;
    }

    #menu2 {
        display: none;

        & img {
            /* padding-top: -25px; */
        }

    }


    .banner {
        height: auto !important;
        padding: 1.5rem;

        .bannerTopo {
            & li {
                h1 {
                    padding: .8em;
                }

                p {
                    line-height: 1.5;
                    padding: 0 1rem;
                }

                .siteBanner {
                    width: 90%;
                }

                .btnDefault {
                    font-size: 1rem;
                    padding: 0.6rem 1.5rem;
                }
            }
        }
    }
}



@media(max-width: 425px) {
    #menu2 {
        display: none;

        .logo {
            width: 100px;
        }
    }




    .banner {

        /* padding: 30px; */
        & li {

            .siteBanner {
                width: 100vh;
            }

            h1 {
                transition: all 0.3s;
            }

            p {
                transition: all 0.3s;
                font-size: var(--txt-paragraph1);
                text-align: center;
                /* margin: 5px; */
                /* padding: 0 2em; */
            }
        }
    }
}

/* #endregion */

/* #region Servicos*/
@media (min-width: 1200px) {
    .melado {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        .melado-black {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .text-basic {
                h1 {
                    margin: 0;
                }
            }
        }
    }

    .servicos {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .servicos-nav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-width: 1000px;

            .servicos-tab {
                background: var(--clr-transparent-pink);
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 0.5em;

                p {
                    color: var(--clr-pink);
                }

                .servicos-item {
                    display: none;

                    p {
                        color: var(--clr-white);
                    }

                    &.active {
                        display: block;
                    }
                }

                &:hover {
                    background: var(--clr-transparent-pink);
                }
            }
        }
    }

    .meladoComBorda {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;

        li {
            padding: 8px 0;
        }
    }
}

@media (max-width: 1200px) {
    .melado {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        height: auto;

        .melado-black {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .text-basic {
                h1 {
                    margin: 0;
                }

                p {}
            }
        }
    }

    .servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .servicos-nav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .servicos-tab {
                background: var(--clr-transparent-pink);
                border: none;
                cursor: pointer;
                border-radius: 0.5em;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 700px;

                p {
                    color: var(--clr-pink);
                }

                .servicos-item {
                    display: none;
                    padding: 10px;
                    width: 100%;
                    text-align: left;
                    background: var(--clr-light-gray);
                    margin-top: 5px;
                    border-radius: 5px;
                    color: var(--clr-dark);
                }

                &.active .servicos-item {
                    display: block;
                }

                &:hover {
                    background: var(--clr-transparent-pink);
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .melado {
        padding: 20px;
        text-align: center;
        height: auto;

        .melado-black {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .text-basic {
                h1 {
                    margin: 0;
                }
            }
        }
    }

    .meladoComBorda {
        padding: 0;
        list-style-type: none;

        li {
            padding: 8px 0;
        }
    }
}

@media (max-width: 768px) {
    .melado {
        padding: 20px;
        text-align: center;
        height: auto;

        .melado-black {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .text-basic {
                h1 {
                    margin: 0;
                }
            }
        }
    }

    .meladoComBorda {
        padding: 0;
        list-style-type: none;

        li {
            padding: 8px 0;
        }
    }
}

@media (max-width: 480px) {
    .melado {
        height: auto;
    }

    .meladoComBorda {
        padding: 0;
        list-style-type: none;

        li {
            padding: 8px 0;
        }

    }
}

@media (max-width: 320px) {
    h1 {
        font-size: var(--txt-title1);
      }
      
    .melado {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        height: auto;

        .melado-black {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        .servicos-nav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .servicos-tab {
                background: var(--clr-transparent-pink);
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 0.5em;

                p {
                    color: var(--clr-pink);
                }

                .servicos-item {
                    display: none;

                    p {
                        color: var(--clr-white);
                    }

                    &.active {
                        display: block;
                    }
                }

                &:hover {
                    background: var(--clr-transparent-pink);
                }
            }
        }
    }

    .meladoComBorda {
        padding: 0;
        list-style-type: none;

        li {
            padding: 8px 0;
        }
    }
}

/* #endregion */

/*#region portifólio */
@media (min-width: 1024px) {
    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h1 {
            /* font-size: var(--txt-title); */
        }
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Centraliza o conteúdo do carousel */
        height: 60vh;
        margin: 3em;
        padding: 20px;
        width: 100%;
    }

    .card {
        width: 300px;
        /* Tamanho maior dos cards em telas maiores */
        height: 400px;
        /* Tamanho maior dos cards */
        background: var(--clr-gradient2);
        border-radius: 10px;
        opacity: 1;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card.active {
        transform: translateX(0) scale(1.3);
        opacity: 1;
        z-index: 2;
        background: var(--clr-gradient2);
    }
}

@media (max-width: 1024px) {
    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;

        & h1 {
            /* font-size: var(--txt-title); */
        }
    }

    .carousel {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
        padding: 10px;
    }

    .card {
        width: 250px;
        height: 350px;
        background: var(--clr-gradient2);
        border-radius: 10px;
        opacity: 0.7;
        margin: 0 10px;
    }

    .card.prev-left,
    .card.next-right {
        display: block;
        opacity: 0.5;
        z-index: 1;
        transform: translateX(0) scale(0.9);
        background: var(--clr-dark);
    }

    .card.left {
        transform: translateX(-50%) scale(0.95);
        opacity: 0.6;
        z-index: 0;
        background: var(--clr-dark);
    }

    .card.right {
        transform: translateX(50%) scale(0.95);
        opacity: 0.6;
        z-index: 0;
        background: var(--clr-dark);
    }

    .card.active {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 2;
        background: var(--clr-gradient2);
    }

    h1 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;

        & h1 {
            /* font-size: var(--txt-title); */
        }
    }

    .carousel {
        margin: 3em;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;
    }

    .card {
        width: 220px;
        transform: translateX(0);
        background: var(--clr-gradient2);
        border-radius: 10px;
    }

    .card.prev-left,
    .card.next-right {
        display: block;
        opacity: 0.5;
        z-index: 1;
        transform: translateX(0) scale(0.8);
        background: var(--clr-dark);
    }

    .card.left {
        transform: translateX(-50%) scale(0.9);
        opacity: 0.7;
        z-index: 0;
        background: var(--clr-dark);
    }

    .card.right {
        transform: translateX(50%) scale(0.9);
        opacity: 0.7;
        z-index: 0;
        background: var(--clr-dark);
    }

    .card.active {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 2;
        background: var(--clr-gradient2);
    }
}

@media (max-width: 480px) {
    .carousel {
        height: 40vh;
        margin: 2em;
        padding: 10px;
    }

    .card {
        width: 180px;
        height: 260px;
        background: var(--clr-gradient2);
        border-radius: 10px;
        opacity: 0.7;

        & p {
            font-size: 1em;
        }
    }

    .card.prev-left,
    .card.next-right {
        display: block;
        opacity: 0.5;
        z-index: 1;
        transform: translateX(0) scale(0.7);
        background: var(--clr-dark);
    }

    .card.left {
        transform: translateX(-50%) scale(0.8);
        opacity: 0.6;
        z-index: 0;
        background: var(--clr-dark);
    }

    .card.right {
        transform: translateX(50%) scale(0.8);
        opacity: 0.6;
        z-index: 0;
        background: var(--clr-dark);
    }

    .card.active {
        transform: translateX(0) scale(1);
        /* opacity: 1; */
        z-index: 2;
        background: var(--clr-gradient2);
    }
}

@media (max-width: 320px) {
    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;

        /* Centraliza a portfolio */
        & h1 {
            font-size: var(--txt-title1);
        }
    }

    .carousel {
        margin: 1.5em;
        padding: 5px;
    }

    .card {
        width: 160px;
        height: 240px;
        background: var(--clr-gradient2);
        border-radius: 10px;
        opacity: 0.7;
    }

    .card.left {
        opacity: 0;
    }

    .card.right {
        opacity: 0;
    }

    .card.active {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 2;
        background: var(--clr-gradient2);
    }
}

/*#endregion*/

/*#region Fale Conosco*/
@media (max-width: 1080px) {
    #faleConosco {
        height: auto;
        padding: 20px;
        background-position: top;


        .containerFaleConosco {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .formWrapper {
            max-width: 100%;

        }

        .right {
            text-align: center;
            max-width: 100%;
            display: flex;
            align-items: center;
        }

        .right iframe {
            max-width: 100%;
            height: 200px;
        }
    }

    footer {
        height: auto;
        padding: 30px;
        text-align: center;

        .footerContainer {
            flex-direction: column;
            gap: 15px;
        }

        .line {
            width: 90%;
        }
    }
}

@media (max-width: 1024px) {
    #faleConosco {
        height: auto;
        padding: 20px;

        .containerFaleConosco {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .formWrapper,
        .right {
            max-width: 100%;
            text-align: center !important;

            .telefones {
                text-align: center !important;
                display: block !important;
            }
        }

        iframe {
            max-width: 100%;
        }
    }

    footer {
        height: auto;
        padding: 30px 10px;
        text-align: center;

        .footerContainer {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .line {
            width: 80%;
        }
    }
}

@media (max-width: 468px) {
    #faleConosco {
        height: auto;
        padding: 15px;

        .contatoTitle {
            h1 {
                font-size: var(--txt-title1);
            }

            p {
                font-size: 16px;
            }
        }

        .containerFaleConosco {
            flex-direction: column;

            align-items: center;
            gap: 10px;
        }

        .formWrapper {
            /* max-width: 70% !important; */
            width: 100%;
            max-width: 400px;

            input,
            textarea {
                font-size: var(--txt-anchor1) !important;
                padding: 10px;
            }

            .btnEnviar {
                width: 120px;
            }
        }

        .right {
            max-width: 100%;
            text-align: center !important;

            .telefones {
                text-align: center !important;
                display: block !important;
            }

            h6 {
                font-size: var(--txt-title1) !important;
            }

            p {
                font-size: var(--txt-paragraph1) !important;
            }

            iframe {
                width: 100%;
                height: 200px;
            }
        }
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }
}

/*#endregion*/

/*endCss*/